/* Colors */
/*------------------------------------------------------------------
[Color Scheme / Colors, textures]
*/

/* Color Classes */
.color01 {
  color: #ffffff !important; }

.color02 {
  color: #f7f7f7 !important; }

.color03 {
  color: #efefef !important; }

.color04 {
  color: #e7e7e7 !important; }

.color05 {
  color: #dfdfdf !important; }

.color06 {
  color: #d7d7d7 !important; }

.color07 {
  color: #cfcfcf !important; }

.color08 {
  color: #c7c7c7 !important; }

.color09 {
  color: #bfbfbf !important; }

.color10 {
  color: #b7b7b7 !important; }

.color11 {
  color: #afafaf !important; }

.color12 {
  color: #a7a7a7 !important; }

.color13 {
  color: #9f9f9f !important; }

.color14 {
  color: #979797 !important; }

.color15 {
  color: #8f8f8f !important; }
  .color15 a {
    color: #8f8f8f; }
    .color15 a:hover {
      color: #e74c3c; }

.color16 {
  color: #878787 !important; }

.color17 {
  color: #7f7f7f !important; }

.color18 {
  color: #777777 !important; }

.color19 {
  color: #6f6f6f !important; }

.color20 {
  color: #676767 !important; }

.color21 {
  color: #5f5f5f !important; }

.color22 {
  color: #575757 !important; }

.color23 {
  color: #4f4f4f !important; }

.color24 {
  color: #474747 !important; }

.color25 {
  color: #3f3f3f !important; }

.color26 {
  color: #373737 !important; }

.color27 {
  color: #2f2f2f !important; }

.color28 {
  color: #272727 !important; }

.color29 {
  color: #1f1f1f !important; }

.color30 {
  color: #171717 !important; }

.color31 {
  color: #0f0f0f !important; }

.color32 {
  color: #070707 !important; }

.color-red {
  color: #e74c3c !important; }

.color-orange {
  color: #e67e22 !important; }

.color-green {
  color: #1abc9c !important; }

.color-blue {
  color: #3498db !important; }

.color-darkblue {
  color: #1c4a6c !important; }

.color-cyan {
  color: #9b59b6 !important; }

.color-yellow {
  color: #d9a81d !important; }

.color-rose {
  color: #e798ac !important; }

.color-darkrose {
  color: #e17f98 !important; }

.red {
  background-color: #e74c3c !important; }

.orange {
  background-color: #e67e22 !important; }

.green {
  background-color: #1abc9c !important; }

.blue {
  background-color: #3498db !important; }

.darkblue {
  background-color: #1c4a6c !important; }

.cyan {
  background-color: #9b59b6 !important; }

.yellow {
  background-color: #d9a81d !important; }

.l-grey {
  background-color: #f2f2f2 !important; }

.grey {
  background-color: #999 !important; }

/*Font/link Colors */
.fontcolor-regular, .fontcolor-regular a {
  color: #171717 !important; }

.fontcolor-invert, .fontcolor-invert a {
  color: #ffffff !important; }

.fontcolor-medium, .fontcolor-medium a {
  color: #676767 !important; }

.fontcolor-medium-light {
  color: #8f8f8f !important; }
  .fontcolor-medium-light a {
    color: #8f8f8f !important; }
    .fontcolor-medium-light a:hover, .fontcolor-medium-light a:focus {
      color: #e74c3c !important; }

.hovercolor, .hovercolor a {
  color: #e74c3c !important; }

.accent-color, .accent-color a {
  color: #007EA7 !important; }

.accent-color a:hover {
  color: #e74c3c !important; }

/*Background Color Classes */
.bg-color01 {
  background-color: #ffffff !important; }

.bg-color02 {
  background-color: #f7f7f7 !important; }

.bg-color03 {
  background-color: #efefef !important; }

.bg-color04 {
  background-color: #e7e7e7 !important; }

.bg-color05 {
  background-color: #dfdfdf !important; }

.bg-color06 {
  background-color: #d7d7d7 !important; }

.bg-color07 {
  background-color: #cfcfcf !important; }

.bg-color08 {
  background-color: #c7c7c7 !important; }

.bg-color09 {
  background-color: #bfbfbf !important; }

.bg-color10 {
  background-color: #b7b7b7 !important; }

.bg-color11 {
  background-color: #afafaf !important; }

.bg-color12 {
  background-color: #a7a7a7 !important; }

.bg-color13 {
  background-color: #9f9f9f !important; }

.bg-color14 {
  background-color: #979797 !important; }

.bg-color15 {
  background-color: #8f8f8f !important; }

.bg-color16 {
  background-color: #878787 !important; }

.bg-color17 {
  background-color: #7f7f7f !important; }

.bg-color18 {
  background-color: #777777 !important; }

.bg-color19 {
  background-color: #6f6f6f !important; }

.bg-color20 {
  background-color: #676767 !important; }

.bg-color21 {
  background-color: #5f5f5f !important; }

.bg-color22 {
  background-color: #575757 !important; }

.bg-color23 {
  background-color: #4f4f4f !important; }

.bg-color24 {
  background-color: #474747 !important; }

.bg-color25 {
  background-color: #3f3f3f !important; }

.bg-color26 {
  background-color: #373737 !important; }

.bg-color27 {
  background-color: #2f2f2f !important; }

.bg-color28 {
  background-color: #272727 !important; }

.bg-color29 {
  background-color: #1f1f1f !important; }

.bg-color30 {
  background-color: #171717 !important; }

.bg-color31 {
  background-color: #0f0f0f !important; }

.bg-color32 {
  background-color: #070707 !important; }

.dark .title, .dark p {
  color: #ffffff; }
.dark .subtitle {
  color: #8f8f8f; }

/* UI Color Set --------------------------------------------- */
/* Backgrounds */
.ui-bg-color01 {
  background-color: #f7f7f7 !important; }

.ui-bg-color02 {
  background-color: #676767 !important; }

.boxed {
  background-image: url("../../images/backgrounds/footer_lodyas.png"); }

/* Blocks */
.ui-block-color01 {
  background-color: #dfdfdf !important; }

.ui-block-color02 {
  background-color: #e7e7e7 !important; }

.ui-block-color03 {
  background-color: #efefef !important; }

.ui-block-color04 {
  background-color: #dfdfdf !important; }

/* Menu */
.ui-menu-color01 {
  background-color: #1abc9c !important; }

.ui-menu-color02 {
  background-color: #3498db !important; }

.ui-menu-color03 {
  background-color: #9b59b6 !important; }

.ui-menu-color04 {
  background-color: #e67e22 !important; }

.ui-menu-color05 {
  background-color: #e74c3c !important; }

.ui-menu-color06 {
  background-color: #d9a81d !important; }

/* Navigation */
#top-navigation .name-title h1 {
  color: #676767; }
#top-navigation .ident .vc-name .position h2 {
  color: #676767; }
#top-navigation .ident .vc-name .position .position-title {
  background: #efefef; }
#top-navigation .ident .vc-name .position .pdf {
  background: rgba(0, 0, 0, 0.05); }
  #top-navigation .ident .vc-name .position .pdf a i:before {
    color: #676767; }
#top-navigation .ident .vc-name .name .name-pdf {
  background: rgba(0, 0, 0, 0.03); }
  #top-navigation .ident .vc-name .name .name-pdf a i:before {
    color: #676767; }

/* Menu Hover Effect */
.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.03); }

.hvr-sweep-to-right:before {
  background: rgba(0, 0, 0, 0.03); }

/* Pro Experience */
#pro-experience.dark h3 {
  color: #171717; }
#pro-experience.dark .experience {
  border-left: 1px solid #a7a7a7; }
#pro-experience.dark li.date {
  color: #3f3f3f; }
#pro-experience.dark li.company a {
  color: #3f3f3f; }
  #pro-experience.dark li.company a:before {
    background: #a7a7a7; }
#pro-experience.dark li.position {
  color: #3f3f3f; }

/* Circle Skills */
#circle-skills.dark .progressbar {
  color: #4492BF; }
  #circle-skills.dark .progressbar .progressbar-text {
    color: #171717 !important; }
  #circle-skills.dark .progressbar p {
    color: #3f3f3f; }
#circle-skills.dark h3, #circle-skills.dark h4 {
  color: #171717 !important; }

/* Bar Skills */
#bar-skills.dark .progressbar .circle {
  color: #3f3f3f; }
  #bar-skills.dark .progressbar .circle p {
    color: #3f3f3f; }
#bar-skills.dark h3, #bar-skills.dark h4 {
  color: #171717 !important; }
#bar-skills.dark h5 {
  color: #7f7f7f !important; }

/* Personal Data */
#personal.dark h3, #personal.dark h4 {
  color: #171717 !important; }
#personal.dark .one p {
  color: #171717; }
#personal.dark .two p {
  color: #3f3f3f; }

/* Skills Counter */
#counts.dark .count-container .count .count-text {
  color: #3f3f3f; }
#counts.dark .count-container .count .digit {
  color: #3f3f3f; }
#counts.dark .count-container .count .count-icon i:before {
  color: #8f8f8f; }
#counts.dark .count-container .count:hover .count-icon i:before {
  color: #e74c3c; }

/* Details */
#details.dark h3, #details.dark h4, #details.dark h5 {
  color: #171717 !important; }
#details.dark p {
  color: #3f3f3f !important; }

.subtitle {
  color: #e74c3c; }

#details i::before {
  color: #e74c3c; }

/* Buttons */
.btn-wh-trans {
  background: #cfcfcf;
  border: 1px solid transparent;
  color: #ffffff !important; }
  .btn-wh-trans:hover {
    background: #a7a7a7;
    color: #ffffff !important; }

.name-title {
  color: #ffffff; }

/* Footer */
footer.dark h5 {
  color: #3f3f3f; }
footer.dark p {
  color: #676767; }
footer.dark .copyrights p {
  color: #676767; }
footer.dark .follow .social li a i {
  background: #bfbfbf; }
  footer.dark .follow .social li a i:before {
    color: #ffffff; }
  footer.dark .follow .social li a i:hover {
    background: #e74c3c; }
    footer.dark .follow .social li a i:hover:before {
      color: #ffffff; }
footer.dark input {
  background: #e7e7e7;
  color: #3f3f3f; }
footer.dark a.btn {
  color: #ffffff !important;
  background: #bfbfbf; }
  footer.dark a.btn:hover, footer.dark a.btn:focus {
    background: #e74c3c; }
footer.dark ::-webkit-input-placeholder {
  color: #bfbfbf; }
footer.dark :-moz-placeholder {
  color: #bfbfbf; }
footer.dark ::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
  /* Since FF19 lowers the opacity of the placeholder by default */ }
footer.dark :-ms-input-placeholder {
  color: #bfbfbf; }
footer.dark .cv-link a {
  padding: 4px 9px 3px 4px;
  color: #3f3f3f;
  background: transparent;
  border: 1px solid #dfdfdf; }
  footer.dark .cv-link a i:before {
    color: #8f8f8f; }
  footer.dark .cv-link a:hover {
    border-color: #e74c3c;
    background: transparent;
    color: #e74c3c; }
    footer.dark .cv-link a:hover i:before {
      color: #e74c3c; }

/* Special Layout Styles */
/* Mark */
#mark {
  background-image: url("../../images/backgrounds/crossword.png"); }
  #mark .ui-block-color05 {
    background-color: #dfdfdf !important; }
  #mark .ui-block-color06 {
    background-color: #dfdfdf !important; }
  #mark .ui-block-color07 {
    background-color: #e7e7e7 !important; }
  #mark .ui-menu-color01 {
    background-color: #efefef !important; }
  #mark .ui-menu-color02 {
    background-color: #efefef !important; }
  #mark .ui-menu-color03 {
    background-color: #efefef !important; }
  #mark .ui-menu-color04 {
    background-color: #efefef !important; }
  #mark .ui-menu-color05 {
    background-color: #efefef !important; }
  #mark .ui-menu-color06 {
    background-color: #efefef !important; }
  #mark .name-title h2 {
    color: #3f3f3f; }
  #mark .name-title .cd-intro h4, #mark .name-title .cd-intro span {
    color: #3f3f3f; }
  #mark #top-navigation .menuitem a span {
    color: #676767; }
  #mark #top-navigation .menuitem a i:before {
    color: #b7b7b7; }
  #mark #page-title h2 {
    color: #3f3f3f !important; }
  #mark #page-title h5 {
    color: #7f7f7f !important; }
  #mark #page-title p {
    color: #3f3f3f !important; }
  #mark .cv-pdf a i:before,
  #mark .social-network a i:before {
    color: #676767; }
  #mark footer a.btn {
    background: #b7b7b7; }
    #mark footer a.btn:hover, #mark footer a.btn:focus {
      background: #e74c3c; }
  #mark footer input {
    background: #efefef; }
  #mark .port-filter-light ul li a {
    background: #efefef;
    color: #676767; }
    #mark .port-filter-light ul li a:hover, #mark .port-filter-light ul li a:focus {
      color: #ffffff; }

/* James */
#james .ui-block-color01 {
  background-color: #f7f7f7 !important; }
#james .ui-block-color02 {
  background-color: #efefef !important; }
#james .ui-block-color04 {
  background-color: #ffffff !important; }
#james #counts.dark {
  background-color: #f7f7f7 !important; }

/* Helena */
/* Olivia */
/* Samuel */
/* Michael */
#michael .ui-block-color01 {
  background-color: #efefef !important; }
#michael .ui-block-color02 {
  background-color: #efefef !important; }
#michael .ui-block-color03 {
  background-color: #efefef !important; }
#michael .ui-block-color04 {
  background-color: #4f4f4f !important; }
#michael .ui-block-color05 {
  background-color: #474747 !important; }
#michael .ui-block-color06 {
  background-color: #3f3f3f !important; }
#michael .ui-logo-color01 {
  background-color: #cfcfcf !important; }
#michael .ui-logo-color02 {
  background-color: #c7c7c7 !important; }
#michael .ui-logo-color03 {
  background-color: #bfbfbf !important; }
#michael .ui-logo-color04 {
  background-color: #b7b7b7 !important; }
#michael .ui-logo-color05 {
  background-color: #afafaf !important; }
#michael .ui-logo-color06 {
  background-color: #a7a7a7 !important; }
#michael #details.dark h2 {
  color: #e74c3c; }
#michael #details.dark h5 {
  color: #676767; }
#michael #details.dark p {
  color: #3f3f3f; }
#michael #circle-skills.dark .title {
  color: #3f3f3f; }
#michael #circle-skills.dark h4 {
  color: #3f3f3f; }
#michael #circle-skills.dark p {
  color: #3f3f3f; }
#michael #circle-skills.dark .progressbar-text {
  background: #c7c7c7;
  border-color: #c7c7c7; }
#michael #price.dark .title {
  color: #3f3f3f; }
#michael #price.dark h4 {
  color: #3f3f3f; }
#michael #price.dark p {
  color: #3f3f3f; }
#michael #price.dark .price-number {
  color: #a7a7a7; }
#michael #price.dark .pricing ul li {
  border-top: 1px dashed #d7d7d7; }
  #michael #price.dark .pricing ul li:last-child {
    border-bottom: 1px dashed #d7d7d7; }
#michael #price.dark .plain {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  color: #3f3f3f; }
#michael #price.dark .price-attrs .price-plan {
  color: #7f7f7f;
  background: #f7f7f7; }
#michael #price.dark .price-attrs .price-descr {
  color: #7f7f7f; }
#michael #price.dark .proposal {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  color: #e74c3c; }
  #michael #price.dark .proposal ul li {
    border-top: 1px dashed #d7d7d7; }
    #michael #price.dark .proposal ul li:last-child {
      border-bottom: 1px dashed #d7d7d7; }
  #michael #price.dark .proposal .price-number {
    color: #e74c3c; }
  #michael #price.dark .proposal .price-plan {
    color: #e74c3c;
    background: #ffffff; }
  #michael #price.dark .proposal .price-descr {
    color: #e74c3c; }
  #michael #price.dark .proposal .price-conclusion {
    color: #e74c3c; }

/*# sourceMappingURL=light.css.map */
